@model IEnumerable<RentalCar.Models.Car>

@{
	ViewData["Title"] = "Home";

	Pager pager = new Pager();

	int pageNo = 0;
	if (ViewBag.Pager != null)
	{
		pager = ViewBag.Pager;
		pageNo = pager.CurrentPage;
	}
}

<hr />
<form>
	<p>
		Search By Car Name:
		<input type="text" name="SearchString">
		| Daily Fare Less Than:
		<input type="number" name="filtter"> |
		<input type="submit" value="Search" class="btn btn-primary" />
	</p>
</form>
<hr />

@if (Model is not null)
{

	<div class="container py-5">
		<div class="row row-cols-1 row-cols-md-3 g-4 py-5">

			@foreach (var item in Model)
			{

				<div class="col">
					<div class="card m-2">
						<div class="card-header bg-success text-light">
							<h5 class="card-title d-flex justify-content-center align-items-center">@item.CarType</h5>
						</div>
						@if (item.Photo is not null)
						{
							<img class="d-flex align-items-center justify-content-center p-2" 
								 src="data:image/*;base64,@(Convert.ToBase64String(item.Photo))" />
						}
						else
						{
							<img class="w-25" src="https://th.bing.com/th/id/OIP.T9s09Pl74H7Yzy0Wdj5ZjQAAAA?pid=ImgDet&rs=1" />
						}
						<div class="card-body">
							
							<p class="card-text">
								@item.EngineCapacity
							</p>
							<h4 class="card-text text-muted">@item.Color</h4>
							<h3 class="card-text text-success">@item.DailyFare$</h3>
						</div>
						<div class="card-footer d-flex justify-content-around">
							<a class="btn btn-outline-secondary" asp-controller="Rentals" asp-action="Create" asp-route-CarId="@item.Id">Rent this</a>
						</div>
						<div class="card-footer d-flex justify-content-around">
							<a class="btn btn-outline-secondary" asp-area="Admin" asp-controller="Cars" asp-action="Details" asp-route-id="@item.Id">Details</a>
						</div>
					</div>
				</div>

			}

		</div>
	</div>

}
<div class="container py-5">
	<partial name="_pager" model="@pager" />
</div>